.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}
.container {
  background-color: blanchedalmond;
  flex-direction: row;
}
.filho {
    background-color: brown;
    width: 150px;
    height: 150px;
    justify-content: space-between;

}
.pai{
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.pai2{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.pai3{
   justify-content: center;
    display: flex;  
    margin: 10px;
}
h2{
    background-color: red;
}